$blue: #0060b1;
$indigo: #28224b;
$purple: #757ae9;
$pink: #d63384;
$red: #dc3545;
$orange: #fc6b0f;
$yellow: #fec821;
$green: #16c2a4;
$teal: #333333;
$cyan: #258283;
$white: #fff;
$gray: #7e828e;
$gray-dark: #171717;
$primary: $orange;
$secondary: $indigo;
$success: $cyan;
$danger: $red;
$warning: $yellow;
$info: $blue;
$light: $white;
$dark: $gray-dark;

$body-bg: $white;
$body-color: $gray;
$link-color: $teal;
$card-border-color: rgba($white, 0.125);
$card-bg: rgba($white, 0.05);
$table-bg: $gray-dark;
$list-group-bg: rgba($white, 0.05);
$modal-content-bg: rgba($white, 0.05);
$jumbotron-bg: rgba($white, 0.05);
$enable-shadows: true;
$enable-gradients: false;
$enable-negative-margins: true;
$enable-responsive-font-sizes: true;

$font-sizes: (
  1: 3.75rem,
  2: 2.5rem,
  3: 1.875rem,
  4: 1.375rem,
  5: 1.125rem,
  6: 0.875rem
);

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-bolder: 700;

$font-weight-base: $font-weight-normal;

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Mada";
  src: url("../assets/fonts/Mada/Mada-Regular.ttf"),
    url("https://keidson-roby.vercel.app/assets/fonts/Mada/Mada-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Mada";
  src: url("../assets/fonts/Mada/Mada-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

$font-family-sans-serif: "Mada", sans-serif, system-ui, -apple-system,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-family-monospace: "Poppins", sans-serif, SFMono-Regular, Menlo, Monaco,
  Consolas, "Liberation Mono", "Courier New", monospace !default;
