<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <div class="container-md py-1">
    <div class="col">
      <a [routerLink]="['/lista-produto']"
        ><img
          class="img-fluid"
          src="https://static.kabum.com.br/conteudo/temas/001/imagens/topo/logo_kabum_mobile.svg"
          alt="logo keidson roby"
          width="104"
          height="21"
      /></a>
    </div>
    <button
      class="navbar-toggler"
      data-bs-target="#navbarSupportedContent"
      data-bs-toggle="collapse"
      type="button"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-sm-4">
          <a class="nav-link active" [routerLink]="['/lista-produto']">Sobre mim</a>
        </li>
        <li class="nav-item me-sm-4">
          <a class="nav-link active" [routerLink]="['/lista-produto']">Projetos</a>
        </li>
        <li class="nav-item me-sm-4">
          <a class="nav-link active" [routerLink]="['/lista-produto']">Habilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/lista-produto']">Produtos</a>
        </li>
        <li class="nav-item ms-sm-3">
          <a
            class="btn btn-primary text-white"
            href="https://www.linkedin.com/in/keidsonroby/"
            target="_blank"
            rel="noopener"
          >
            Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
