<hr class="bg-opacity-25 m-0" />
<footer>
  <section class="">
    <article class="container-md">
      <div class="row py-3">
        <div class="col-12 col-sm-6">
          <p class="m-0 text-center text-sm-start">
            Copyright © 2022 Keidson Roby
          </p>
        </div>
        <div class="col-12 col-sm-6">
          <ul
            class="list-unstyled d-flex justify-content-center justify-content-sm-end m-0"
          >
            <li class="ms-3">
              <a
                class="social-one"
                href="/home"
                title="icon facebook"
                aria-label="Facebook"
                target="_blank"
                ><i class="bi bi-facebook"></i
              ></a>
            </li>
            <li class="ms-3">
              <a
                class="social-two"
                href="/home"
                title="icon instagram"
                aria-label="Instagram"
                target="_blank"
                ><i class="bi bi-instagram"></i
              ></a>
            </li>
            <li class="ms-3">
              <a
                class="social-three"
                href="/home"
                title="icon linkedin"
                aria-label="Linkedin"
                target="_blank"
                ><i class="bi bi-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </section>
</footer>
